.bot-army {
  overflow-x: scroll;
  min-height: 300px;
  max-width: 100%;
}

.ui.grid > .row.bot-army-row {
  flex-wrap: nowrap;
  min-height: 100%;
}

.ui.grid {
  padding: 0px 20px;
}

#filter {
  background: #eee;
  padding-top: 15px;
  padding-bottom: 20px;
  margin-bottom: 15px;
  text-align: center;
  border-bottom: 1px solid #ccc;
}

#filter label {
  padding-right: 5px;
}
